.mogmog-search-card-ly {
  width: 228px;
  border: solid 1px #eee;
  border-radius: 5px;

  .food-thumbnail {
    height: 100px;
    border-bottom: solid 1px #eee;
  }

  .card-body {
    height: 122px;
  }

  .collaborate {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    .collaborate-item {
      font-weight: bold;
    }
  }

  .count-message {
    margin: 10px auto 13px;
    font-size: 10px;
    color: #ccc;
  }

  .search-box {
    height: 33px;
    display: flex;
    align-items: center;
    margin: 5px 15px;
    border: solid 1px #f0af31;

    .search-button {
      width: 100%;
      font-size: 14px;
      color: #f0af31;
    }
  }
}
