.mogmog-search-card-ly {
  width: 228px;
  border: solid 1px #eee;
  border-radius: 5px;

  .food-thumbnail {
    height: 100px;
    border-bottom: solid 1px #eee;
  }

  .card-body {
    height: 122px;
  }

  .collaborate {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    .collaborate-item {
      font-weight: bold;
    }
  }

  .count-message {
    margin: 10px auto 13px;
    font-size: 10px;
    color: #ccc;
  }
}
