.mogmog-cover-image-ly {
  height: 100vh;
  padding-top: 33vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}

.mogmog-cover-content {
  flex-direction: column;
  text-align: center;
}

.mogmog-catchphrase {
  margin-top: 30px;
  color: white;
  font-size: 27px;
  font-weight: bold;
}

.mogmog-search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  width: 500px;
  height: 44px;
  background-color: white;

  .search-icon {
    margin-right: 12px;
  }

  .description {
    font-size: 16px;
    color: #999;
  }
}
